*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(90deg, hsla(339, 100%, 55%, 1) 0%, hsla(197, 100%, 64%, 1) 100%);
}

h1{
    color: white;
    font-size: 5vw;
    text-align: center;
    margin-top: 5vh;
}
h1 span{
    color: #8025CC;
}

.convert{
    display: block;
    width: 40vw;
    min-height: 25vh;
    background: white;
    margin: 0 auto;
    border-radius: 2rem;
    margin-top: 5vh;
    box-shadow: 0 0 10px 5px lightblue;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    padding: 1rem;
    font-style: italic;
}
.convert:focus{
    box-shadow: 0 0 15px 4px rgba(128, 37, 204, 0.7);
}

.activateImg{
    width: 6vw;
    height: 6vw;
    margin-left: 3vw;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 3vh;
    box-shadow: 0 4px 8px 0 rgba(128, 37, 204, 0.4), 0 6px 20px 0 rgba(128, 37, 204, 0.3);
    transition: 0.15s;
}
.activateImg:hover{
    box-shadow: 0 0 15px 4px rgba(128, 37, 204, 0.7);
}
.voiceToText{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
}
.voiceToTextControls p{
    font-size: 2vw;
    color: white;
}
.voiceToTextControls{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.yourSpeach{
    text-align: center;
    font-size: 2.5vw;
    color: beige;
    margin-top: 3vh;
}
.mikroImg{
    width: 4vw;
    height: 4vw;
    margin-left: 2vw;
}
.mikroActive{
    box-shadow: 0 4px 8px 0 rgba(255, 165, 0, 0.4), 0 6px 20px 0 rgba(255, 165, 0, 0.3);
}
@media(min-width: 400px) and (max-width: 800px){
    .convert{
        width: 60vw;
        min-height: 20vh;
    }
    h1{
        font-size: 7vw;
    }
    .yourSpeach{
        font-size: 5vw;
    }
    .voiceToTextControls p{
        font-size: 4.5vw;
    }
    .mikroImg{
        width: 5vw;
        height: 5vw;
    }
    .activateImg{
        width: 7vw;
        height: 7vw;
    }
}
@media(max-width: 400px){
    .convert{
        width: 60vw;
        min-height: 15vh;
        font-size: 5vw;
    }
    .yourSpeach{
        font-size: 7vw;
    }
    .voiceToTextControls p{
        font-size: 6vw;
    }
    .mikroImg{
        width: 6vw;
        height: 6vw;
    }
    .activateImg{
        width: 8vw;
        height: 8vw;
    }
}
